@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import splash screen styles directly here instead of using @import */

::v-deep .multiselect__content-wrapper {
  z-index: 9999 !important;
  position: absolute !important;
}