@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: white !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app {
    background-color: white !important;
    min-height: 100vh;
}